<!-- start -->

<!-- Meta Tags de Verificação e SEO -->
<meta name="google-site-verification" content="lTHx1fJtwPj8vl-hF1PIjxyZO1wG9FdhfVJzk4rRcvM" />

<!-- Meta Tags para Redes Sociais (Open Graph) -->
<meta property="og:title" content="Edgardo Correa - Analista de Sistemas" />
<meta property="og:description" content="Transformando desafios técnicos em soluções elegantes. Especializado em infraestrutura, redes e automação." />
<meta property="og:image" content="https://edgardocorrea.github.io/assets/images/banner-home.jpg" />
<meta property="og:url" content="https://edgardocorrea.github.io/" />
<meta property="og:type" content="website" />

<!-- end -->
